body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: chocolate;
}
footer {
    padding: 20px;
    color: darkgreen;
    background-color: #00a2c6;
}
.featured-images{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}